.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: 2.27rem 1.16rem;
    background-color: rgba(37, 40, 61, 0.9);
    box-shadow: 0 4px 20px 2px #000000;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom: 2rem;
    }
}
