.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: rgba(37, 40, 61, 0.9);
    box-shadow: 0 4px 20px 2px #000000;
}

.Playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.55rem;
    color: #fff;
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container label {
    margin-left: 1rem;
}

.Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background: linear-gradient(to right, #60E1E0, #87F4B5);
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: .83rem;
    transition: background-color .25s;
    color: #25283D;
    font-weight: 700;
}

.Playlist-save:hover {
    background: linear-gradient(to right, rgba(96, 225, 224, 0.5), rgba(135, 244, 181, 0.5));
    color: #ffffff;
    transition: all ease-out 0.3s;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .Playlist {
        width: 90%;
    }
}